.container{
    background-color: black;
    color: aliceblue;
}

.popular-movie-row{
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

.ranked-movie-row{
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

.popular-actor-row {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}


.movie{
    width: 250px;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    overflow: hidden;
    background: #302f2f;

    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    

    cursor: pointer;
    transition: 0.2s;
    
}

.movie:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px;
}

.actor{
    width: 250px;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    overflow: hidden;
    background: #302f2f;

    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    

    cursor: pointer;
    transition: 0.2s;
}

.actor:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px;   
}

.movie img{
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}

.movie h3{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 4px;
}

.movie p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 12px;
}

.cast-row{
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 10px;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

.actor-row{
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 10px;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

.movie-row{
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 10px;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}